Pillow==9.4.0                               # common
PyYAML==6.0                                 # common
cairosvg==2.6.0                             # common
discord-webhook==1.1.0                     # discord output
html2text==2020.1.16                        # email input
lottie==0.7.0                              # telegram input
matrix-nio[e2e]==0.20.1                     # matrix input/output
py-cord==2.4.0                              # discord input
python-magic==0.4.27                        # common
python-telegram-bot==13.15                  # telegram input/output
requests==2.31.0                            # common
