cairosvg==2.5.2                             # common
discord-webhook==0.16.3                     # discord output
lottie==0.6.11                              # telegram input
py-cord==2.0.0                              # discord input
python-telegram-bot==13.13                  # telegram input/output
PyYAML==6.0                                 # common
requests==2.28.1                            # common
matrix-nio[e2e]==0.19.0                     # matrix output
html2text==2020.1.16                        # email input
aiofiles==0.8.0                             # common
python-magic==0.4.27                        # common
Pillow==9.2.0                               # common
